<!-- Снизу код связывает файлы. То есть мы как бы всё наследуем в этом фалйе от файла 'mainApp/base.html' -->
{% extends 'mainApp/base.html' %}

<!-- Снизу код показывает, какую информацию ("Страница про нас") будем помещать в блок "block title" -->
{% block title %}
{{ title }} <!-- это тот текст, который мы передаём из файла views.py по ключу 'title' -->
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    {% if tasks %} <!-- Если в таблице есть элементы, то выполняется цикл ФОР -->
        {% for elements in tasks %} <!-- это та таблица из БД, которую мы передаём из файла views.py по ключу 'tasks'.
        Так как это список, его надо перебирать с помощью цикла for, который реализуется вот так.
        Также, после открытия цикла, надо его закрыть.-->
            <div class="alert alert-warning mt-2">
                <h3>{{ elements.title}}</h3> <!-- Тут мы выводим на сайт столбец из таблицы с названиями задач -->
                <h3>{{ elements.task}}</h3> <!-- Тут мы выводим на сайт столбец из таблицы с описаниями задач -->
            </div>
        {% endfor %}
    {% else %} <!-- Иначе, то есть, если в таблице нет записей, будет выполняться код ниже -->
        <p>У нас нет записей</p>
    {% endif %} <!-- Закрываем цикл -->
{% endblock %}

